@import"vars";
@import"fonts";
@import"reset";
@import"global";

.header{
  &__top{
    background-color: #000;   
    padding: 10px 20px;
    
        
   }
   &__menu-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
   }
  &__menu-list{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
  }
   
  &__menu-link{
    color: #e133ac;
    font-size: 22px;
    @extend %nunito-600;
    margin-right: 60px;
  }
  &__menu-link--active{
    color: #e133ac;
    border-bottom: 1px solid #e133ac;
  }
   &__menu-link--active:hover{
    border-bottom: 1px solid #fff;
   }
   &__menu-link:hover{
    color: #fff;
    
  }
    &__contact-link {
    margin-right: 15px;
    text-align: center;

    
  }
  &__contact-tel{
    color: #e133ac;
    @extend %nunito-600;
    font-size: 22px;

  }
   &__contact-tel:hover{
    color: #fff;
   }
    
  &__bottom{
  height: 560px;
  background-image: url(../images/pelic.jpg);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  
  }
 }
 .about{
  background-color: #edf1f4;
  &__title{
    @extend %nunito-700;
    line-height: 65px;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #000;
    border-radius: 30px ;
  }
  &__inner{
    padding-top: 30px;
    padding-bottom: 40px;
    /*margin-bottom: 40px;*/
    display: flex;
  }
  &__description-text{
    @extend %nunito-400;
    font-size: 28px;
    line-height: 40px;
    color: $default;
    
  }
  &__description-img{
    border-radius: 20px;
  
   }
 }
 .services{
   background-color: #edf1f4;
   padding: 40px 40px 60px;
   

  &__inner{
    display: flex;
    justify-content: space-between;
  }


  &__item{
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: #e2ede8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: all 0.5s;
  }
  &__item:hover{
    transform: scaleY(1.1);

  }
  &__item:nth-child(2n){
     background-color: #f6ebed;
  }
  &__item:not(:last-child){
    margin-right: 20px;    

  }
   &__title{
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    color: #c53d6b;
  }
  &__text{
    padding-bottom: 20px;

  }
  &__link{
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 0;
    color: #fff;
    background-color: #c53d6b;
    border-radius: 20px;
  }
 
 &__link:hover {
    color: #fff;
    background-color: $default;
    font-weight: 600;
 }

}
.product-worth {
   padding-top: 50px;
   background-color: #f6ebed;
   &__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
   }
   &__item{
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    
   }
   &__item-text::after{
    content: '';
    position: absolute;
    top: 11px;
    left: 36px;
    width: 6px;
    height: 6px;
    background-color: #c53d6b;
    border-radius: 50%;
   }
   &__img{
    border-radius: 20px;
max-width: 500px;
max-height: 300px;
   }

}
.footer{
   background-color: #000;   
   padding: 20px;
   @extend %nunito-600;
   color: #fff;
   font-size: 22px;

  &__contacts{
    display: flex;
    justify-content: space-between;
  }
  &__contacts-addr{
    color: #fff;
  }
  &__contacts-tel a,
  &__contacts-email a {
    @extend %nunito-600;
    color: #fff;
    font-size: 22px;
  }
  &__contacts-tel a:hover,
  &__contacts-email a:hover {
    color: #f4350b;
  }
  &__contacts-email a{
    margin-right: 15px;
 }
}


@import"media";